<div class="col-md-3 pull-right">
	<h3>Meet our Culinary Specialists</h3>
</div>
<div class="col-md-9">
	<h2>Tommy McHugh</h2>
	<h4>Executive Chef</h4>
	<p>Award winning three-star Michelin chef with wide International experience having worked closely with whos-who in the culinary
		world, he specializes in creating mouthwatering Mediterranean-Italian experiences. </p>
	<p>
		<a href="#">More &raquo;</a>
	</p>
</div>