<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1">
          <restaurant-links></restaurant-links>
      </div>
      <div class="col-sm-2">
        <restaurant-address></restaurant-address>
      </div>
      <div class="col-sm-4 col-sm-offset-3">
        <restaurant-social></restaurant-social>
      </div>
      <div class="col-sm-12 copyright">
        <p>© Copyright 2015 Ristorante Il Fornello</p>
      </div>
    </div>
  </div>
</footer>