<div class="col-md-3 pull-right">
	<h3>Our Unique Culinary Creations</h3>
</div>
<div class="col-md-9">
	<h2>Fichipizza</h2>
	<p>A unique combination of Mediterranean and Italian pizza, topped with Mascarphone, proscuitto, figs, grando panado, honey
		and arugula.</p>
	<p>
		<a href="#">More &raquo;</a>
	</p>
</div>