<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span> Menu
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="#">
        <img src="assets/images/restaurant-logo.png" />
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="/main">
            <span class="glyphicon glyphicon-home"></span> Home</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/about">
            <span class="glyphicon glyphicon-info-sign"></span> About</a>
        </li>
        <li routerLinkActive="active" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a routerLink="/menu/1">Starters</a>
            </li>
            <li>
              <a routerLink="/menu/2">Main Courses</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="mailto:ilfornello@food.net">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>