<h5>Our Address</h5>
<address>
  <p>214, King Street West</p>
  <p>Downtown, Toronto</p>
  <p>ONTARIO</p>
  <p>
    <i class="glyphicon glyphicon-earphone"></i>: +416 1234 5678</p>
  <p>
    <i class="glyphicon glyphicon-briefcase"></i>: +416 8765 4321</p>
  <p>
    <i class="glyphicon glyphicon-envelope"></i>:
    <a href="mailto:ilfornello@food.net">ilfornello@food.net</a>
  </p>
</address>