<div class="container menu">
	<div class="row">
		<div class="col-lg-12">
			<h2>Menu</h2>
		</div>
		<div class="col-md-6">
			<h4 class="type" [ngClass]="{'active':type==1}">Starters</h4>
			<div *ngFor="let item of starters | async">
				<div class="name">
					<i>{{item.name}}</i>
					<span class="price">{{item.price}}</span>
				</div>
				<p class="details">{{item.details}}</p>
			</div>
		</div>
		<div class="col-md-6">
			<h4 class="type" [ngClass]="{'active':type==2}">Main Courses</h4>
			<div *ngFor="let item of mainCourses | async">
				<div class="name">
					<i>{{item.name}}</i>
					<span class="price">{{item.price}}</span>
				</div>
				<p class="details">{{item.details}}</p>
			</div>
		</div>
	</div>
</div>