@import '~sass/mixins';

.menu {
	.type {
		font-weight: 300;
		font-size: 1.8em;
		padding-top: 10px;
		padding-bottom: 20px;
	}
	.name {
		font-weight: 300;
	}
	.price {
		font-weight: 500;
		padding-left: 10px;
	}
	.active {
		font-weight: 600;
	}
	@media (max-width: 400px) {
		.flex-grid {
			display: block;
		}
	}

	h2, h4 {
		@include bold-font;
	}
}