<h5>Links</h5>
<ul>
  <li>
    <a routerLink="/home">Home</a>
  </li>
  <li>
    <a routerLink="/about">About</a>
  </li>
  <li>
    <a href="#">Menu</a>
  </li>
  <li>
    <a href="#">Contact</a>
  </li>
</ul>