<div class="col-md-3">
	<h3>This Month's Promotions</h3>
</div>
<div class="col-md-9">
	<h2>Weekend Grand Buffet</h2>
	<p>Featuring mouthwatering combinations with a choice of five different salads, six enticing appetizers, six main entrees and
		five choicest desserts. Free flowing bubbly and soft drinks. All for just $19.99 per person </p>
	<p>
		<a href="#">More &raquo;</a>
	</p>
</div>