.main {
	.row {
		padding-top: 40px;
		padding-bottom: 20px;
		border-bottom: 1px solid #f5f5f5;
		@media only screen and (max-width:768px) {
			.pull-right {
				float: none !important;
			}
		}
	}
}