<div class="container main">
	<div class="row">
		<restaurant-promo-dish></restaurant-promo-dish>
	</div>
	<div class="row">
		<restaurant-monthly-promos></restaurant-monthly-promos>
	</div>
	<div class="row">
		<restaurant-chefs></restaurant-chefs>
	</div>
	<div class="row">
		<restaurant-menu-items></restaurant-menu-items>
	</div>
</div>