<div class="social">
  <a class="btn" href="http://google.com/+">
    <img src="assets/images/social/gplus.png" alt="Google+">
  </a>
  <a class="btn" href="http://www.facebook.com/profile.php?id=">
    <img src="assets/images/social/fb.png" alt="Facebook">
  </a>
  <a class="btn" href="http://www.linkedin.com/in/">
    <img src="assets/images/social/linkedin.png" alt="LinkedIn">
  </a>
  <a class="btn" href="http://twitter.com/">
    <img src="assets/images/social/twitter.png" alt="Twitter">
  </a>
  <a class="btn" href="http://youtube.com/">
    <img src="assets/images/social/youtube.png" alt="YouTube">
  </a>
  <a class="btn" href="mailto:ilfornello@food.net">
    <img src="assets/images/social/email.png" alt="Mail">
  </a>
</div>