.social {
    padding: 40px 10px;

    .btn {
        padding: 0px 0px;
    }

    img {
        height: 36px;
    }
    img[src*="email.png"] {
        padding-left: 5px;
        height: 20px;
    }
}